<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title></title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/style.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body>
  <div class="container">
    <div class="wrapper">
      <div class="text-input">
        <textarea spellcheck="false" name="Dzongkha" id="Dzongkha" class="from-text"
          placeholder="Enter text"></textarea>
        <textarea spellcheck="false" name="English" id="English" disabled class="to-text"
          placeholder="Translation"></textarea>
      </div>
      <ul class="controls">
        <li class="row from">
          <select>
            <option value="dzo-BT">Dzongkha</option>
          </select>
        </li>
        <li class="exchange"><i class="fas fa-exchange-alt"></i></li>
        <li class="row to">
          <select>
            <option value="en-US">English</option>
          </select>
        </li>
      </ul>
    </div>
    <button type="submit" class="btn" onclick="submit_entry()">Translate</button>
  </div>
  <script>
    async function submit_entry() {
      const src = document.getElementById('Dzongkha');
      const trg = document.getElementById('English');
    
      const entry = {
        'text': src.value,
      };
    
      try {
        const response = await fetch('/api', {
          method: 'POST',
          credentials: 'include',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(entry),
          cache: 'no-cache'
        });
    
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
    
        const data = await response.json();
        const value = Object.values(data)[0];
        trg.textContent = value;
    
      } catch (error) {
        
        console.error('Error:', error);
      }
    }
  </script>
</body>

</html>